<template>
  <div class="col align-self-center">
    <h3 class="pb-5 text-left underline">Create todos</h3>
    <form class="sign-in" @submit.prevent>
      <div class="form-group todo__row">
        <input
            id="newTodoLabel"
            type="text"
            class="form-control"
            placeholder="What do you want to do?"
            v-model="propVal"
        />
        <button id="createTodo" v-on:click="addTodo" >Add</button>
      </div>
    </form>
  </div>
</template>

<script>

import axios from "axios";
import bus from "@/bus";
export default {
  name: 'CreateTodo',
  props: {
    label: {required: true, type: String},
  },
  data: function() {
    return {
      propVal: this.label
    };
  },
  methods: {
    async addTodo(event) {
      if (event) event.preventDefault();
      let todo = {
        label: this.propVal,
      };
      try {
        await axios.post("/api/todos", todo)
        this.clearTodo();
        this.fetchTodos();
      } catch (err) {
        console.error(err);
      }
    },
    clearTodo() {
      this.propVal = "";
    },

    fetchTodos(){
      bus.$emit("fetchTodos")
    }
  }
}
</script>

<style scoped>
</style>
