<template>
  <div id="todoList" class="col align-self-center todoList">
    <div v-if="todos.length === 0">
      You dont have any todos yet.
    </div>
    <div v-if="todos.length >0">
      <div class="form-row align-items-center" v-bind:key="todo._id" v-for="todo in todos">
        <div class="col-auto my-1">
          <div class="input-group mb-3 todo__row">
            <span class="form-control">{{ todo.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>


<script>
import axios from "axios";
import bus from "@/bus";

export default {
  name: 'TodoList',
  data() {
    return {
      todos: []
    }
  },
  created: function () {
    this.getTodos();
    this.listenToEvents();
  },
  watch: {
    $route: function () {
      let self = this;
      self.getTodos()
    }
  },
  methods: {
    async getTodos() {
      const resp = await axios.get('/api/todos');
      this.todos = resp.data.todos;
    },


    listenToEvents() {
      bus.$on("fetchTodos", $event => {
        this.getTodos();
        console.log($event);
      });
    }
  }
}
</script>

<style scoped>
</style>
