<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <CreateTodo label=""/>
    <br>
    <TodoList/>
  </div>
</template>

<script>
import TodoList from "@/components/TodoList";
import CreateTodo from "@/components/CreateTodo";

export default {
  name: 'App',
  components: {
    CreateTodo,
    TodoList,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
